.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    gap: 8px; /* reduz a distância entre img, h3, p e botões */
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

.card h3 {
    margin: 0;
    font-size: 1.1rem;
}

.card p {
    margin: 0;
    color: rgba(255,255,255,0.8);
}

.buttons {
    width: 100%;
    display: flex;
    gap: 8px;
}

.buttons button {
    flex: 1;
    padding: 8px 0;
    border-radius: 8px;
    border: none;
    background-color: #535bf2;
    color: white;
    cursor: pointer;
}